--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pldbgapi; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pldbgapi WITH SCHEMA public;


--
-- Name: EXTENSION pldbgapi; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pldbgapi IS 'server-side support for debugging PL/pgSQL functions';


--
-- Name: calculate_final_mark(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_final_mark() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
update subject_registration 
set final_mark = 0.4*(0.3*test1 + 0.4*test2 + 0.3*test3) + 0.6*exam 
where subject_id = new.subject_id
and learner_id = new.learner_id;
end;$$;


ALTER FUNCTION public.calculate_final_mark() OWNER TO postgres;

--
-- Name: class_capacity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.class_capacity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
if (select count(learner_id) from learner where room_no = new.room_no) < 30 then
return new;
--insert into learner(learner_id, room_no, guardian_names, guardian_cell, guardian_relation) values (new.learner_id, new.room_no, new.guardian_names, new.guardian_cell, new.guardian_relation);
else
raise exception 'The classroom is full.';
end if;
end;
$$;


ALTER FUNCTION public.class_capacity() OWNER TO postgres;

--
-- Name: class_grade_check(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.class_grade_check() RETURNS trigger
    LANGUAGE plpgsql
    AS $$--check if there already exists a classroom for that grade
--and if so, then insert the learner;
--else 

declare
	room integer;
begin
	if exists (select 1 from learner 
	where grade = new.grade)
	then
		select room_no into room from learner where grade = new.grade;
		new.room_no := room;
		return new;
			--insert into learner(learner_id, room_no, grade) 
			--values (new.learner_id, new.room_no, new.grade);		
	else
		if not exists(select 1 from learner where room_no = new.room_no)
		then
			return new;
		else
			raise exception 'The classroom is not for grade %', new.grade;
		end if;
	end if;
end;



/*
begin
	if exists (select 1 from learner 
	where room_no = new.room_no)
	then
		if exists(select 1 from learner 
				  where room_no = new.room_no and grade = new.grade)
		then
			return new;
			--insert into learner(learner_id, room_no, grade) 
			--values (new.learner_id, new.room_no, new.grade);
		else
			raise exception 'The classroom is not for grade %', new.grade;
		end if;
	else
		if exists (select 1 from learner 
					where grade = new.grade)
		then
			select room_no into room from learner where grade = new.grade;
			new.room_no := room;
			return new;
			--insert into learner(learner_id, room_no, grade) 
			--values (new.learner_id, new.room_no, new.grade);		
		else
			return new;
		end if;
				--insert into learner(learner_id, room_no, grade) 
				--values (new.learner_id, new.room_no, new.grade);
	end if;
end;
*/
$$;


ALTER FUNCTION public.class_grade_check() OWNER TO postgres;

--
-- Name: employee_type_check(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.employee_type_check() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
if exists
(select 1 from person where id=new.employee_id and type='employee') 
then
return new;
else
raise exception 'The person is not of type employee.';
end if;
end;$$;


ALTER FUNCTION public.employee_type_check() OWNER TO postgres;

--
-- Name: insert_learner(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insert_learner() RETURNS boolean
    LANGUAGE plpgsql
    AS $$begin
	begin
		--We need to first enter the person details of the learner
		insert into person(id, names, surname, address, type)
		values (20221, 'Jessica Ming', 'Song', 'Orlando, USA', 'learner');
	
		--With the success of person insertion, we can now enter the learner details
		insert into learner (learner_id, grade, room_no) 
		values (20221, 10, 3);
	
		return TRUE;
	
	exception
		WHEN OTHERS THEN
			raise exception 'Failed to add learner 20221. %', SQLERRM;
	end;
end;$$;


ALTER FUNCTION public.insert_learner() OWNER TO postgres;

--
-- Name: insert_learner(integer, character varying, character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.insert_learner(IN integer, IN character varying, IN character varying, IN character varying)
    LANGUAGE plpgsql
    AS $_$
	begin
		--We need to first enter the person details of the learner
		insert into public.person(id, names, surname, address, type)
		values ($1, $2, $3, $4, 'learner');
	
		--With the success of person insertion, we can now enter the learner details
		insert into learner (learner_id, grade, room_no) 
		values ($1, 10, 3);	
		COMMIT;	
	exception
		WHEN OTHERS THEN
			ROLLBACK;
			raise exception 'Failed to add learner %', NAMES;
	end;
$_$;


ALTER PROCEDURE public.insert_learner(IN integer, IN character varying, IN character varying, IN character varying) OWNER TO postgres;

--
-- Name: insert_learner_P(integer, character varying, character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public."insert_learner_P"(IN "ID" integer, IN "Names" character varying, IN "Surname" character varying, IN "Address" character varying)
    LANGUAGE plpgsql
    AS $$begin
	begin
		--We need to first enter the person details of the learner
		insert into person(id, names, surname, address, type)
		values (ID, NAMES, SURNAME, ADDRESS, 'learner');
	
		--With the success of person insertion, we can now enter the learner details
		insert into learner (learner_id, grade, room_no) 
		values (ID, 10, 3);	
		COMMIT;	
	exception
		WHEN OTHERS THEN
			ROLLBACK;
			raise exception 'Failed to add learner %', NAMES;
	end;
end;$$;


ALTER PROCEDURE public."insert_learner_P"(IN "ID" integer, IN "Names" character varying, IN "Surname" character varying, IN "Address" character varying) OWNER TO postgres;

--
-- Name: insert_learners(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insert_learners() RETURNS void
    LANGUAGE plpgsql
    AS $$declare
 learner_ids integer[];
 l_id integer;
begin
	with limited_learners as (select id from person where type='learner' order by id desc limit(10))
	select array_agg(id) into learner_ids from limited_learners;
	
	if learner_ids is not null 
	then
		foreach l_id in array learner_ids
		loop
			if not exists (select 1 from learner where learner_id=l_id)
			then
				insert into learner(learner_id, room_no, grade) values (l_id, 1, 8);
			end if;
		end loop;
	else
		Raise exception 'It was null.';
	END IF;
end;
$$;


ALTER FUNCTION public.insert_learners() OWNER TO postgres;

--
-- Name: insert_learners_P(); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public."insert_learners_P"()
    LANGUAGE plpgsql
    AS $$declare
 learner_ids integer[];
 l_id integer;
begin
	with limited_learners as (select id from person where type='learner' order by id desc limit(10))
	select array_agg(id) into learner_ids from limited_learners;
	
	if learner_ids is not null 
	then
		foreach l_id in array learner_ids
		loop
			if not exists (select 1 from learner where learner_id=l_id)
			then
				insert into learner(learner_id, room_no, grade) values (l_id, 1, 8);
			end if;
		end loop;

		--Save all the changes
		COMMIT;
	else
		--Reverse the transaction
		ROLLBACK;
		Raise exception 'It was null.';
	END IF;
end;
$$;


ALTER PROCEDURE public."insert_learners_P"() OWNER TO postgres;

--
-- Name: insert_persons(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insert_persons() RETURNS void
    LANGUAGE plpgsql
    AS $$
declare
	id1 integer := 30037829;
	index1 integer := 1;
	
	names text[] := array['Tom', 'Ndivhuwo', 'Tshepiso', 'Vhukhudo', 'Nompumelelo', 'Keiran', 'Sage', 'Esakhe'];
	surnames text[] := array['Engelbrecht', 'Khumalo', 'Sadiki', 'Mphephu', 'Dlomo', 'Shomang'];
	typs text[] := array['learner', 'employee'];
	addresses text[] := array['Address 1', 'Address 2'];
	
	name text;
	surname text;
begin
	foreach name in array names
	LOOP
		foreach surname in array surnames
		LOOP
			if index1 > 2 then 
				index1 := 1;
			end if;
			
			insert into person(id, names, surname, address, type)
			values (id1, name, surname, addresses[index1], typs[index1]);

			id1 := id1 + 1;			
		END LOOP;
	END LOOP;
end;
$$;


ALTER FUNCTION public.insert_persons() OWNER TO postgres;

--
-- Name: learner_type_check(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.learner_type_check() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
if exists
(select 1 from person where id=new.learner_id and type='learner')
then
return new;
else raise exception 'The person is not of type learner.';
end if;
end;$$;


ALTER FUNCTION public.learner_type_check() OWNER TO postgres;

--
-- Name: subject_max(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.subject_max() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
if (select count(learner_id) from subject_registration where learner_id = new.learner_id) < 7
then
return new;
--insert into subject_registration(learner_id, subject_id, registration_date) values (new.learner_id, new.subject_id, current_timestamp);
else
raise exception 'The learner already has 7 subjects registered.';
end if;
end;$$;


ALTER FUNCTION public.subject_max() OWNER TO postgres;

--
-- Name: subject_teacher_validation(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.subject_teacher_validation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$begin
if exists 
(select 1 from employee 
where employee_id=new.teacher_id
and employee_type='teacher')
then
return new;
else
raise exception E'The subject \"teacher\" is not a teacher';
end if;
end;$$;


ALTER FUNCTION public.subject_teacher_validation() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: classroom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classroom (
    room_no integer NOT NULL,
    block character(1) NOT NULL
);


ALTER TABLE public.classroom OWNER TO postgres;

--
-- Name: learner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.learner (
    learner_id integer NOT NULL,
    guardian_names character varying(70),
    guardian_cell character varying(12),
    guardian_relation character varying(20),
    room_no integer,
    grade integer NOT NULL,
    CONSTRAINT grade_check CHECK (((grade >= 8) AND (grade <= 12)))
);


ALTER TABLE public.learner OWNER TO postgres;

--
-- Name: person; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.person (
    id integer NOT NULL,
    names character varying(50) NOT NULL,
    surname character varying(20) NOT NULL,
    address character varying NOT NULL,
    cell character varying(12),
    type character varying(20) NOT NULL,
    CONSTRAINT type_check CHECK (((type)::text = ANY (ARRAY['learner'::text, 'employee'::text])))
);


ALTER TABLE public.person OWNER TO postgres;

--
-- Name: Learner_View; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public."Learner_View" AS
 SELECT p.id,
    p.names,
    p.surname,
    l.grade,
    c.block,
    c.room_no
   FROM ((public.learner l
     JOIN public.person p ON ((l.learner_id = p.id)))
     JOIN public.classroom c ON ((c.room_no = l.room_no)))
  ORDER BY c.block, c.room_no;


ALTER VIEW public."Learner_View" OWNER TO postgres;

--
-- Name: employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee (
    employee_id integer NOT NULL,
    kin_names character varying(70),
    kin_cell character varying(12),
    kin_relation character varying(20),
    employee_type character varying(20),
    salary numeric(7,2),
    CONSTRAINT employee_type_check CHECK (((employee_type)::text = ANY (ARRAY['teacher'::text, 'clerk'::text, 'principal'::text])))
);


ALTER TABLE public.employee OWNER TO postgres;

--
-- Name: subject; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subject (
    subject_id integer NOT NULL,
    name character varying(30),
    teacher_id integer
);


ALTER TABLE public.subject OWNER TO postgres;

--
-- Name: subject_registration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subject_registration (
    subject_id integer NOT NULL,
    learner_id integer NOT NULL,
    reg_date date DEFAULT CURRENT_TIMESTAMP,
    test1 numeric(5,2) DEFAULT 0,
    test2 numeric(5,2) DEFAULT 0,
    test3 numeric(5,2) DEFAULT 0,
    exam numeric(5,2) DEFAULT 0,
    final_mark numeric(5,2) DEFAULT 0,
    CONSTRAINT exam_check CHECK ((exam <= (100)::numeric)),
    CONSTRAINT final_mark_check CHECK ((final_mark <= (100)::numeric)),
    CONSTRAINT text1_check CHECK ((test1 <= (100)::numeric)),
    CONSTRAINT text2_check CHECK ((test2 <= (100)::numeric)),
    CONSTRAINT text3_check CHECK ((test3 <= (100)::numeric))
);


ALTER TABLE public.subject_registration OWNER TO postgres;

--
-- Name: subject_subject_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subject_subject_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subject_subject_id_seq OWNER TO postgres;

--
-- Name: subject_subject_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subject_subject_id_seq OWNED BY public.subject.subject_id;


--
-- Name: subject subject_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject ALTER COLUMN subject_id SET DEFAULT nextval('public.subject_subject_id_seq'::regclass);


--
-- Data for Name: classroom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classroom (room_no, block) FROM stdin;
1	A
2	A
3	A
\.


--
-- Data for Name: employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employee (employee_id, kin_names, kin_cell, kin_relation, employee_type, salary) FROM stdin;
19283893	\N	\N	\N	teacher	30837.00
19393723	\N	\N	\N	principal	30837.00
19283878	\N	\N	\N	teacher	30837.00
19283927	\N	\N	\N	clerk	30837.00
30037847	\N	\N	\N	teacher	20556.00
30037842	\N	\N	\N	teacher	20556.00
30037837	\N	\N	\N	teacher	20556.00
30037829	\N	\N	\N	teacher	20556.00
20038493	\N	\N	\N	teacher	20556.00
\.


--
-- Data for Name: learner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subject; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subject (subject_id, name, teacher_id) FROM stdin;
2	Mathematics	19283893
4	Social Sciences	19283878
5	Tshivenda	30037847
6	Life Orientation	30037842
7	Natural Sciences	30037837
8	Sepedi	30037829
9	Computer Sciences	20038493
\.


--
-- Data for Name: subject_registration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subject_registration (subject_id, learner_id, reg_date, test1, test2, test3, exam, final_mark) FROM stdin;
\.


--
-- Name: subject_subject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subject_subject_id_seq', 9, true);


--
-- Name: classroom classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classroom
    ADD CONSTRAINT classroom_pkey PRIMARY KEY (room_no);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (employee_id);


--
-- Name: learner learner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learner
    ADD CONSTRAINT learner_pkey PRIMARY KEY (learner_id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- Name: subject subject_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT subject_pkey PRIMARY KEY (subject_id);


--
-- Name: subject_registration subject_registration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_registration
    ADD CONSTRAINT subject_registration_pkey PRIMARY KEY (subject_id, learner_id);


--
-- Name: subject unique_teacher; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT unique_teacher UNIQUE (teacher_id);


--
-- Name: employee before_employee_insertion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER before_employee_insertion BEFORE INSERT ON public.employee FOR EACH ROW EXECUTE FUNCTION public.employee_type_check();


--
-- Name: learner before_insert_learner; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER before_insert_learner BEFORE INSERT ON public.learner FOR EACH ROW EXECUTE FUNCTION public.class_grade_check();


--
-- Name: learner before_learner_insertion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER before_learner_insertion BEFORE INSERT ON public.learner FOR EACH ROW EXECUTE FUNCTION public.learner_type_check();


--
-- Name: learner class_capacity_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER class_capacity_trigger BEFORE INSERT ON public.learner FOR EACH ROW EXECUTE FUNCTION public.class_capacity();


--
-- Name: subject_registration final_mark_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER final_mark_trigger AFTER INSERT OR UPDATE ON public.subject_registration FOR EACH ROW EXECUTE FUNCTION public.calculate_final_mark();


--
-- Name: subject_registration subject_max_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER subject_max_trigger BEFORE INSERT ON public.subject_registration FOR EACH ROW EXECUTE FUNCTION public.subject_max();


--
-- Name: subject subject_teacher_check; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER subject_teacher_check BEFORE INSERT ON public.subject FOR EACH ROW EXECUTE FUNCTION public.subject_teacher_validation();


--
-- Name: employee employee_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.person(id);


--
-- Name: learner learner_learner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learner
    ADD CONSTRAINT learner_learner_id_fkey FOREIGN KEY (learner_id) REFERENCES public.person(id);


--
-- Name: learner learner_room_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learner
    ADD CONSTRAINT learner_room_no_fkey FOREIGN KEY (room_no) REFERENCES public.classroom(room_no);


--
-- Name: subject_registration subject_registration_learner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_registration
    ADD CONSTRAINT subject_registration_learner_id_fkey FOREIGN KEY (learner_id) REFERENCES public.learner(learner_id);


--
-- Name: subject_registration subject_registration_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject_registration
    ADD CONSTRAINT subject_registration_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subject(subject_id);


--
-- Name: subject subject_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subject
    ADD CONSTRAINT subject_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.employee(employee_id);


--
-- PostgreSQL database dump complete
--

